@use 'app/_bootstrap-variables.scss' as basics;

.feedpage-suggested-area {
  width: 300px;
  background-color: red;
}

.feedpage-sticky {
  position: fixed;
  top: 0;
}

.feedpage-suggestions-4u {
  color: basics.$gray-600;
}
