.likecomment-container {
  border-top: 1px solid lightgrey;
  padding: 0.75em;
}

.likecomment-button-basic {
  margin: 5px;

  &:hover {
    cursor: pointer;
  }
}

.likecomment-button {
  @extend .likecomment-button-basic;

  &:hover {
    color: grey;
  }
}

.likecomment-button-red {
  @extend .likecomment-button-basic;
  color: red;
}

.likecomment-like-count {
  font-size: 1em;
  font-weight: bold;
}

.likecomment-time-ago {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  color: grey;
  &:link {
    text-decoration: none;
  }
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.likecomment-comment-input:focus {
  outline: none;
}

.singlepost-comment-box-form {
  display: grid;
  align-items: center;
  grid-template-columns: 2em auto 3em;
  // justify-content: space-around;
  // align-items: center;
}

.singlepost-comment-box:disabled {
  color: grey;
}

.comment-box-container {
  padding: 0.75em;
  border-top: 1px solid lightgrey;
}

button.singlepost-comment-box {
  font-weight: bold;
  color: dodgerblue;
  border: none;
  background-color: white;
}
