.main-image {
  width: 100%;
}

$greyTone: 50;
$InsideborderColor: rgb($greyTone, $greyTone, $greyTone);
$borderColor: lightgrey;

.single-post-container {
  display: grid;
  border: 1px solid $borderColor;
  grid-template-columns: auto 21em;
  // background-color:blue;
}

.comments-main {
  border-left: 1px solid $borderColor;
  min-width: 100px;
}

.comments-section {
  height: 40vh;
  overflow-x: auto;
}
